<div class = "post round" id="post_<%= post.id %>">
	<li class = "post_user_name">
		<%= link_to "#{post.user.name}", post.user %>
		<% if @current_user == post.user %>
		<%= link_to (image_tag "remove.png", :size => "8x8"), post, :method => :delete, :class => "delete_post", :title => "delete", :remote => true  %>
		<% end %>
	</li>
	<li class = "post_text">
		<%= post.text %>
	</li>
	<li class = "post_created">
		<%= "Posted #{time_ago_in_words(post.created_at)} ago" %>
	</li>
</div>