<!DOCTYPE html>
<html>
<head>
  <title>Face</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/flash', :locals => {:flash => flash} %>
	<% if signed_in %>
	<%=render 'layouts/header' %>
	<div class = "container">
	<%= render 'layouts/left_col' %>
	<div class = "main_content"><%= yield %></div>
	</div>
	<% else %>
	<div class = "container">
		<%= yield %>
	</div>
	<% end %>
	</div>
</body>
</html>
